<?xml version="1.0"?>
<config>
  <modules>
    <Clearsale_Total>
      <version>1.1.1</version>
    </Clearsale_Total>
  </modules>
  <global>
    <helpers>
      <total>
        <class>Clearsale_Total_Helper</class>
      </total>
    </helpers>
    <models>
     <total>
	<class>Clearsale_Total_Model</class>
	<resourceModel>total_mysql4</resourceModel>
	</total>
	<total_mysql4>
		<class>Clearsale_Total_Model_Mysql4</class>
		<entities>		  
			<clearsaleorderdiagnostic>
			<table>clearsale_order_diagnostic</table>
			</clearsaleorderdiagnostic>
		</entities>
	  </total_mysql4>
    </models>
    <blocks>
      <total>
        <class>Clearsale_Total_Block</class>
      </total>
	  <adminhtml>
      </adminhtml>
	  <front>
	  </front>
    </blocks>
  <resources>
	<total_setup>
		<setup>
		<module>Clearsale_Total</module>
		</setup>
		<connection>
		<use>core_setup</use>
		</connection>
	</total_setup>
	<total_write>
		<connection>
		<use>core_write</use>
		</connection>
	</total_write>
	<total_read>
		<connection>
		<use>core_read</use>
		</connection>
	</total_read>
  </resources>
   <events>
   	<sales_order_payment_place_start>
   		<observers>
   			<clearsale_total>
   			<type>singleton</type>
   				<class>Clearsale_Total_Model_Observer</class>
   				<method>getCCInfo</method>
   			</clearsale_total>
   		</observers>
   	</sales_order_payment_place_start>
   	<checkout_onepage_controller_success_action>
   		<observers>
   			<clearsale_total>
   				<type>singleton</type>
   				<class>Clearsale_Total_Model_Observer</class>
   				<method>sendOrder</method>
   			</clearsale_total>
   		</observers>
   	</checkout_onepage_controller_success_action>
   </events> 
 </global>
<default>
	<tab1>
		<general>
			<text_field>Default value</text_field>
			<textarea></textarea>
			<dropdown>key2</dropdown>
			<multiple_dropdown>key1,key2</multiple_dropdown>
			<time>11,30,45</time>
			<active>0</active>
			<boolean>1</boolean>
			<dependant_text_field>Default value</dependant_text_field>
		</general>
	</tab1>
</default>
<admin>
    <routers>
      <total>
        <use>admin</use>
        <args>
          <module>Clearsale_Total</module>
          <frontName>clearsale</frontName>
        </args>
      </total>
    </routers>
  </admin>
 <frontend>
    <routers>
        <total>
            <use>standard</use>
            <args>
                <module>Clearsale_Total</module>
                <frontName>clearsale</frontName>
            </args>
        </total>
    </routers>
    <layout>
        <updates>
            <total>
                <file>total.xml</file>
            </total>
        </updates>
    </layout>
</frontend> 
<adminhtml>
    <menu>
      <total module="total">
        <title>Clearsale</title>
        <sort_order>100</sort_order>
        <children>
          <totalbackend module="total">
            <title>Dashboard</title>
            <sort_order>0</sort_order>
            <action>clearsale/adminhtml_totalbackend</action>
          </totalbackend>
        </children>
      </total>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <total translate="title" module="total">
              <title>Clearsale</title>
              <sort_order>1000</sort_order>
              <children>
                <totalbackend translate="title">
                  <title>Dashboard</title>
                </totalbackend>
              </children>
            </total>
          </children>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <clearsale_total>
                      <title>Clearsale</title>
                      <!-- Used in resources tree -->
                    </clearsale_total>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <total>
          <file>total.xml</file>
        </total>
      </updates>
    </layout>
  </adminhtml>
<crontab>
        <jobs>
            <total_get_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>total/observer::getClearsaleOrderStatus</model>
                </run>
            </total_get_orders>
	    <total_retry_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>total/observer::retry</model>
                </run>
            </total_retry_orders>
        </jobs>
    </crontab>  
 </config>
